---
layout: default
---
<div class="rotate"> 
    
    <h3> Please Rotate your device. </h3>
    <p> "Wow Arsh! This must be so cool"</p>
    <center><p style="width: 60%;"> Nahh, I was just lazy to make it responsive for your device.</p></center>
  <br><br>
    <img src="./img/emojis/angry_me.png" width="40%">
 
</div>
<div id="site">
  {% include switch.html %}
  {% include intro.html %}
  {% include background.html %}
  {% include experience.html %}
  {% include featured-projects.html %}
  {% include other-projects.html %}
  {% include footer.html %}
  {% include top-button.html %}
</div>
