<center><h1 class="quote" style="width: 90%; padding-top: 45px;">If you know who Bob and Alice are, I'm sure we'd get along quite nicely!</h1></center>
<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm currently a Graduate Student at 
      <a class="underline-link" href="https://www.pace.edu/seidenberg/" target="_blank">Seidenberg School of Computer Science & Information Systems</a>, Pace University, New York majoring in Computer and Information Systems Security (a.k.a Cybersecurity). 
      
    </p>
      
    <p>
      I am adept at designing Prototypes and Developing Applications. My goal is to always build applications that are efficient under the hood while providing a secure user experience.
    </p>

    <p>
      <strong>When not in front of a digital screen</strong>, you can probably find me outdoors on a cricket turf, or trying out new cuisines, or simply crossing off another item on my bucket list. 
    </p>
  </div>
</section>
