<center><h1 class="quote" style="width: 90%; padding-top: 45px;">Design & Code</h1></center>
<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm currently a Final Year Computer Science & Engineering Undergrad at 
      <a class="underline-link" href="https://www.sitpune.edu.in/" target="_blank">Symbiosis Institute of Technology, Pune.</a> I am adept at designing Prototypes and Developing Applications. My goal is to always build applications that are efficient under the hood while providing engaging & pixel-perfect user experiences.
    </p>

    <p>
      I am a <strong> Cybersecurity Enthusiast </strong>, passionate about Vulnerability Management and Threat Intelligence. If you know who Bob and Alice are, I'm sure we'd get along quite nicely!
    </p>

    <p>
      <strong>When not in front of a digital screen</strong>, you can probably find me outdoors on a cricket turf, or trying out new cuisines, or simply crossing off another item on my bucket list. 
    </p>
  </div>
</section>
