<center><h1 class="quote" style="width: 90%; padding-top: 45px;">If you know who Bob and Alice are, I'm sure we'd get along quite nicely.</h1></center>
<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm currently a Final Year Computer Science & Engineering Undergrad at 
      <a class="underline-link" href="https://www.sitpune.edu.in/" target="_blank">Symbiosis Institute of Technology, Pune.</a> I am adept at designing Prototypes and Developing Mobile Applications.  My goal is to always build applications that are efficient under the hood while providing engaging & pixel-perfect user experiences.
    </p>

    <p>
      Apart from being a Flutter Developer, I am a <a class="underline-link" href="https://www.upguard.com/blog/cybersecurity-important" target="_blank"> Cybersecurity Enthusiast </a>, passionate about Vulnerablity Management and Threat Intelligence.
    </p>

    <p>
      <strong>When I'm not in front of a digital screen</strong>, I'm probably outdoors on a cricket turf, or trying out new cuisines, or crossing off another item on my bucket list. 
    </p>
  </div>
</section>