<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project privv">
      <figure class="project__pic">
        <a href="https://privv.vercel.app/" target="_blank">
          <img class="project__privv" src="{{site.baseurl}}/img/featured/privv/privv_dark.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://privv.vercel.app/" target="_blank">Privv</a>
        </div>
        <p>A decentralized messaging application built using NextJS. Unlike traditional messaging apps, data is not routed through data centers, but through nodes.</p>
      </figcaption>
    </div>

    <div class="project tpc">
      <figure class="project__pic phones">
        <a href="https://www.instagram.com/sit.photography/" target="_blank">
          <img class="project__tpc" src="{{site.baseurl}}/img/featured/tpc/tpc_dark.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/ar33h/thephotographyclub" target="_blank">The Photography Club, SIT</a>
        </div>
        <p>Registered users (members of the club and other students) can upload their Photographs and Graphic Designs for various categories that get featured on the Club's Instagram Page. </p>
      </figcaption>
    </div>

    <div class="project weathr">
      <figure class="project__pic">
        <a href="https://github.com/ar33h/weathr" target="_blank">
          <img class="project__weathr" src="{{site.baseurl}}/img/featured/weathr/weathr_dark.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/ar33h/weathr" target="_blank">Weathr</a>
        </div>
        <p>Weathr’s primary objective is to provide weather forecast data to users based on their geographic location in a simple and intuitive manner.</p>
      </figcaption>
    </div>
  </div>
</section>
