<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    <div class="project hackllm">
      <figure class="project__pic">
        <a href="https://hackllm.streamlit.app" target="_blank">
          <img class="project__hackllm" src="{{site.baseurl}}/img/featured/hackllm/hackllm_dark.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://hackllm.streamlit.app" target="_blank">HackLLM </a>
        </div>
        <p>An engaging and hands-on challenge to understand prompt injection attacks and its implications in large language models. Outsmart the AI Chatbot by creating clever prompts and make it uncover each level's password.</p>
      </figcaption>
    </div>

    <div class="project qakbot">
      <figure class="project__pic">
        <a href="https://youtu.be/jPpOJnPWpNE" target="_blank">
          <img class="project__qakbot" src="{{site.baseurl}}/img/featured/qakbot/qakbot_dark.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://youtu.be/jPpOJnPWpNE" target="_blank">Malware Analysis</a>
        </div>
        <p>Static and Dynamic Malware Analysis of Qakbot, a common banking malware designed to steal login credentials, browser information and keystrokes for online banking. Identified core capabilities, IOCs, registry actions.</p>
      </figcaption>
    </div>

    <div class="project privv">
      <figure class="project__pic">
        <a href="https://vimeo.com/871608258" target="_blank">
          <img class="project__privv" src="{{site.baseurl}}/img/featured/privv/privv_dark.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://privv.vercel.app/" target="_blank">Privv</a>
        </div>
        <p>A decentralized messaging application built using NextJS. Unlike traditional messaging apps, data is not routed through data centers, but through nodes.</p>
      </figcaption>
    </div>
  </div>
</section>
